@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*TAILWIND IMPORTS*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/*STYLES*/
:root{
    --pri-color: #EDEDED;
    --sec-color: #1c1c1c;
    --accent1: #FB823A;
    --accent2: #DCDCDC;
    --accent3: #FFFFFF;
    --accent4: #f7f7f7;
    --accent5: #545454;
    --accent6: #8cd238;

    --font1: "Open Sans", sans-serif;

    --px: 3rem;
    --py: 1rem;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font1);
}

/*TO MAKE THE SITE NOT WIDER THAN 1280PX*/
section{
    max-width: 1280px;
    margin-inline: auto;
}